@model SchoolAutomationSystem.Models.EntityModel.TeacherRoleLesson

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Edit Teacher</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="~/AdminTeacher">Teacher List</a></li>
                            <li class="breadcrumb-item active">Edit Teacher</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Edit Teacher </h4>
                        <b class="text-warning">@ViewBag.Message</b>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <div class="live-preview">
                            <form method="post">

                                <div class="row gy-4">
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Title</label>
                                            <input type="text" class="form-control" name="Title" id="Title" value="@Model.SingleTeacher.Title">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Name</label>
                                            <input type="text" class="form-control" name="Name" id="Name" value="@Model.SingleTeacher.Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Surname</label>
                                            <input type="text" class="form-control" name="Surname" id="Surname" value="@Model.SingleTeacher.Surname">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Email</label>
                                            <input type="email" class="form-control" name="Email" id="Email" value="@Model.SingleTeacher.Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Phone</label>
                                            <input type="tel" class="form-control" name="Phone" id="Phone" value="@Model.SingleTeacher.Phone">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">User Name</label>
                                            <input type="text" class="form-control" name="UserName" id="UserName" value="@Model.SingleTeacher.UserName">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Password</label>
                                            <input type="text" class="form-control" name="Password" id="Password" value="@Model.SingleTeacher.Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Role</label>
                                            <input type="hidden" name="RoleId" value="@Model.SingleRole.Id" />
                                            <input type="text" class="form-control" name="Role" id="Role" value="@Model.SingleRole.Name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="basiInput" class="form-label">Lesson</label>
                                            <select name="LessonId" id="LessonId" class="form-control">
                                                    <option value="@Model.SingleLesson.Id">@Model.SingleLesson.Name</option>
                                                    <optgroup>
                                                        @foreach (var lesson in Model.LessonList.ToList())
                                                        {
                                                            <option value="@lesson.Id">
                                                                @lesson.Name
                                                            </option>
                                                        }
                                                    </optgroup>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div>
                                            <label for="basiInput" class="form-label">Status</label>
                                            <div class="form-check form-switch form-switch-secondary">
                                                <input class="form-check-input" type="checkbox" role="switch" name="IsStatus" id="IsStatus" data-val="true" value="true" checked="@Model.SingleTeacher.IsStatus">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-success float-end" type="submit">Edit Teacher</button>
                                    </div>
                                </div>
                            </form>
                            <!--end row-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->


    </div> <!-- container-fluid -->
</div><!-- End Page-content -->
